<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
  <Appenders>
    <File name="FileAppender" fileName="C:/projects/OsmDemo/Logs/OSMGeotrigger.log" append="false">
      <PatternLayout pattern="%d %-5p %F:%L - %m%n"/>
    </File>
  </Appenders> 
  <Loggers>
    <Logger name="de.esri" level="debug">
      <AppenderRef ref="FileAppender"/>
    </Logger>
  </Loggers>  
</Configuration>

